@import url("https://fast.fonts.net/lt/1.css?apiType=css&c=ce086411-f21e-467e-a351-15aa3db89940&fontids=5664093,5664098,5664103");

@font-face{
    font-family: "Helvetica Neue LT";
    src: url("../fonts/5664093/08b57253-2e0d-4c12-9c57-107f6c67bc49.woff2") format("woff2"),
         url("../fonts/5664093/08edde9d-c27b-4731-a27f-d6cd9b01cd06.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: block;

}

@font-face{
    font-family: "Helvetica Neue LT";
    src: url("../fonts/5664098/4bd56f95-e7ab-4a32-91fd-b8704cbd38bc.woff2") format("woff2"),
         url("../fonts/5664098/4fe1c328-1f21-434a-8f0d-5e0cf6c70dfb.woff") format("woff");
    font-weight: normal;
    font-style: italic;  
    font-display: block;
}

@font-face{
    font-family: "Helvetica Neue LT";
    src: url("../fonts/5664103/240c57a0-fdce-440d-9ce3-85e0cb56f470.woff2") format("woff2"),
         url("../fonts/5664103/7802e576-2ffa-4f22-a409-534355fbea79.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: block;
}


@font-face{
    font-family: "Helvetica Neue LT";
    src: url("../fonts/5664103/240c57a0-fdce-440d-9ce3-85e0cb56f470.woff2") format("woff2"),
         url("../fonts/5664103/7802e576-2ffa-4f22-a409-534355fbea79.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: block;
}